{% extends 'crudProject/base.html' %}

{% block content %}
{% load static %}
<section id="main">


<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <h1>Nouvau Filtre</h1>
      <section class="insertFiltre">      
        <a href={% url 'createFilter' %} class='btn btn-outline-success'>add filter</a>
    </section>


      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>

            {% for filter in dataFilter %}
            <li data-filter=".filter-{{filter.name}}">{{filter.name}}</li>
            <form action="/portfolio/destroyF/{{ filter.id }}" method='POST'>
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>
            {% endfor %}

          </ul>
        </div>
      </div>



      <h1>Nouvelle Image</h1>
        <section class="insertImage">       
          <a href={% url 'createImage' %} class='btn btn-outline-success'>add Image</a>

      </section>


      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        {% for i in dataPortfolio %}

        <div class="col-lg-4 col-md-6 portfolio-item filter-{{i.name}}">
            <div class="portfolio-wrap">
              <img src={{ i.image }} class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href={{ i.image }} data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
       </div>
       
        {% endfor %}
        <form action="/portfolio/destroyI/{{ i.id }}" method='POST'>
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger">Delete</button>
         </form>
      </div>

    </div>
   
   
  </section>
</section>
{% endblock content %}